<html lang="ru">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post" action="/login">
    <fieldset>
        <legend>Your credentials</legend>
        <label>Username <input name = "username" type="text" required></label>
        <label>Password <input name="password" type="password" required></label>
    </fieldset>
    <input type="submit" value="Enter">
</form>
</body>
</html>