<html lang="ru">
<head>
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form method="post" action="/registration">
    <fieldset>
        <legend>User Info</legend>
        <label>Nickname<input name="username" type="text" required></label>
        <label>Password<input name="password" type="password" required></label>
        <label>First Name<input name="first_name" type="text" required></label>
        <label>Last Name<input name="last_name" type="text" required></label>
        <label>Age<input name="age" type="number" required></label>
    </fieldset>
    <input type="submit" value="Save">
</form>
</body>
</html>